.player {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player.playing .btn-toggle-play .bi-pause {
    display: block;
}

.player.playing .btn-toggle-play .bi-play {
    display: none;
}

.player .btn-toggle-play .bi-play {
    display: block;
}

.player .btn-toggle-play .bi-pause {
    display: none;
}



.player header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0;
}

.cd .cd-thumb {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;

}

.dashboard {
    padding: 16px 16px 14px;
    background: #fff;
    /* background: #9f3737; */
    color: #d3b0b0;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 480px;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard .control .btn-random.active i {
    color: blue;
}

.dashboard .control .btn-repeat.active i {
    color: blue;
}

.dashboard .control .progress {
    width: 100%;
}

.playlist {
    margin-top: 400px;
    padding: 12px;
}

.btn {
    font-size: 3rem;
}

.playlist {
    width: 100%;
    max-width: 480px;
}

.playlist .song {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    border: 1px solid rgb(114, 114, 114);

}

.playlist .thumb {
    width: 50px;
    height: 50px;
    background-size: cover;
    object-fit: cover;
}